<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Employee</title>
</head>
<body>
    <h1>Create New Employee</h1>
    <form action="http://localhost:8000/testapp/save-employee/" method="post">
        {% csrf_token%}
        <table>
            <tr>
                <td>E.No.:</td>
                <td><input type="text" name="eno"></td>
            </tr>
            <tr>
                <td>Name:</td>
                <td><input type="text" name="ename"></td>
            </tr>
            <tr>
                <td>Salary:</td>
                <td><input type="text" name="esal"></td>
            </tr>
            <tr>
                <td>Profile:</td>
                <td>
                    <select name="eprofile" id="">
                        <option value="Sales">Sales</option>
                        <option value="Marketing">Marketing</option>
                        <option value="Production">Production</option>
                        <option value="Management">Management</option>
                    </select>
                </td>
            </tr>

            <tr>
                <td></td>
                <td>
                    <input type="submit" value="save">
                </td>
            </tr>
        </table>
    </form>
</body>
</html>